.mainHeading {
  padding-top: 2rem;
  border-top-width: 1px;
  line-height: 2rem;
  text-align: center;
}
.main b,
.para {
  font-family: Roboto;
  font-size: 1vmax;
}

.paraBox {
  display: flex;
  margin: 2.5rem 8rem;
  flex-direction: column;
  gap: 4rem;
}

.aboutImg {
  width: 100%;
}

.paras {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  color: #4b5563;
}

.ourM {
  color: #1f2937;
}

.subHeading {
  padding: 1rem 0rem;
  margin: 2.5rem 8rem;
  font-size: 1.25rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.threeBox {
  display: flex;
  margin: 2.5rem 8rem;
  flex-direction: column;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.boxes {
  display: flex;
  padding: 2rem 2.5rem;
  flex-direction: column;
  gap: 1.25rem;
  border: 1px solid #9ca3af;
}

.boxesPara {
  color: #4b5563;
  font-family: Roboto;
  font-size: 1vmax;
}

@media screen and (min-width: 600px) {
  .paraBox {
    flex-direction: row;
  }
  .aboutImg {
    max-width: 450px;
  }
  .paras {
    width: 50%;
  }
  .threeBox {
    flex-direction: row;
  }
  .boxes {
    padding: 5rem 4rem;
  }
}
