* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  cursor: url("./images/cursor.png"), auto;
  /* background-color: #fbedde; */
  background-image: linear-gradient(
      rgba(255, 230, 0, 0.2),
      rgba(255, 255, 255, 0.1),
      rgba(255, 230, 0, 0.2)
    ),
    url("../src/images/bgAbstract.jpg");
  background-size: cover;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}
